:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  --bs-form-switch-checked-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  --bs-form-switch-checked-bg-color: #ff07ff; /* Ihre gewünschte Farbe für den aktivierten Zustand */
  --bs-form-switch-border-color: #333; /* Farbe des Randes, wenn nicht aktiviert */
  --bs-primary: #b807b8;
  --bs-primary-rgb: 255, 193, 7;
  --bs-third: #ff07ff;
}

.btn-check:checked + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #212529; /* Adjust text color for better contrast */
}

/* Update the background color for the active state to ensure it matches */
.btn-group .btn.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #212529; /* Adjust text color for better contrast */
}

/* Custom styles for the amber buttons */
.btn-outline-amber {
  color: var(--bs-pink);
  border-color: #ff07ff;
  transition: all 0.2s ease-in-out;
}

.btn-outline-amber:hover {
  color: #212529;
  background-color: #ff07ff;
  border-color: var(--bs-form-switch-checked-bg-color);
}

/* Style for the selected (active) button */
.btn-group .btn-outline-amber.active {
  color: "--bs-orange";
  background-color: var(--bs-primary);
  border-color: var(--bs-form-switch-checked-bg-color);
}

/* Custom CSS to style the active button */
/* This will override the default btn-outline-primary active state */
.btn-group .btn.active {
  background-color: var(
    --bs-third
  ); /* Same as the default .btn-primary background */
  color: white;
}

.form-check-input:checked {
  background-color: var(--bs-third);
  border-color: #213;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #777;
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);
  margin-top: 5px;
  font-size: 16px;
}

select {
  height: calc(100% - 15px);
}

/* Button Styles */
button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 7vh;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

button:hover {
  background-color: #555;
}

.button1 {
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: var(--bs-third); /* Orange */
  color: black;
}

/* Polaroid Image Styles */
div.polaroid {
  width: auto;
  height: 15vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: flex;
  align-items: center;
}

img {
  width: auto;
  height: 18vh;
}

div.container {
  text-align: center;
  padding: 5px 10px;
}

/* Checkbox Styles */
.form-check-input:checked {
  background-color: var(--bs-third);
  border-color: #213;
  opacity: 69%;
}

/* Custom CSS to style the active button */
/* This will override the default btn-outline-primary active state */
.btn-group .btn.active {
  background-color: var(
    --bs-form-switch-checked-bg-color
  ); /* Same as the default .btn-primary background */
  color: white;
  opacity: 69%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffd7d7;
  background-image: linear-gradient(to top, #fff, #ffd7d7);
  height: 95vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}
h2 {
  text-align: center;
  color: #555;
}
h3 {
  text-align: center;
  color: #666;
}

form {
  width: 95%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

input[type="checkbox"] {
  margin-right: 10px;
  color: var(--bs-orange);
}

input.selected {
  color: var(--bs-orange);
}

select {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #c427c4;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  background-color: var(--bs-third);
}

.boxcontent {
  display: flex;
  justify-content: center; /* Adjust as needed */
  align-items: row; /* Center items vertically if desired */
  gap: 20px; /* Optional: Add some spacing between items */
}

.boxitem {
  background-color: #eef;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1; /* Adjust as needed to control item width */
}

.cat-fact {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eef;
  border-radius: 4px;
}

.cat-picture img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.button1:hover {
  background-color: #ff5eff; /* Orange */
  color: black;
}

.form-check-input:checked {
  background-color: #ff5eff;
  border-color: #213;
  opacity: 69%;
}

/* Custom CSS to style the active button */
/* This will override the default btn-outline-primary active state */
.btn-group .btn.active {
  background-color: #ff5eff; /* Same as the default .btn-primary background */
  color: white;
  opacity: 69%;
}
/* Media queries for mobile devices */

@media only screen and (max-width: 768px) {
  form {
    margin: 20px auto;
    width: 95%;
    padding: 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  select {
    height: 25px;
    margin-bottom: 15px;
    padding: 5px;
  }

  textarea {
    height: 80px;
    margin-bottom: 15px;
    padding: 5px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
  }

  .cat-fact {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eef;
    border-radius: 4px;
  }
  .cat-picture img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }

  .button1:hover {
    background-color: #ff5eff; /* Orange */
    color: black;
  }

  .form-check-input:checked {
    background-color: #ff5eff;
    border-color: #213;
    opacity: 69%;
  }

  /* Custom CSS to style the active button */
  /* This will override the default btn-outline-primary active state */
  .btn-group .btn.active {
    background-color: #ff5eff; /* Same as the default .btn-primary background */
    color: white;
    opacity: 69%;
  }
}

@media only screen and (max-width: 480px) {
  form {
    margin: 10px auto;
    padding: 5px;
  }

  label {
    font-size: 14px;
  }

  input[type="checkbox"] {
    margin-right: 2px;
  }

  select {
    height: 20px;
    margin-bottom: 10px;
    padding: 2px;
  }

  textarea {
    height: 60px;
    margin-bottom: 10px;
    padding: 2px;
  }

  button[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
  }

  .cat-fact {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eef;
    border-radius: 4px;
  }
  .cat-picture img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }

  /* General Styles */
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
  }

  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }

  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
    color: #777;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-top: 5px;
    font-size: 16px;
  }

  select {
    height: calc(100% - 15px);
  }

  /* Button Styles */
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7vh;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
  }

  button:hover {
    background-color: #555;
  }

  .button1 {
    transition-duration: 0.4s;
  }

  .button1:hover {
    background-color: #ffc107; /* Orange */
    color: black;
  }

  /* Polaroid Image Styles */
  div.polaroid {
    width: auto;
    height: 15vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: flex;
    align-items: center;
  }

  img {
    width: auto;
    height: 18vh;
  }

  div.container {
    text-align: center;
    padding: 5px 10px;
  }
  .button1:hover {
    background-color: #ff5eff; /* Orange */
    color: black;
  }

  .form-check-input:checked {
    background-color: #ff5eff;
    border-color: #213;
    opacity: 69%;
  }

  /* Custom CSS to style the active button */
  /* This will override the default btn-outline-primary active state */
  .btn-group .btn.active {
    background-color: #ff5eff; /* Same as the default .btn-primary background */
    color: white;
    opacity: 69%;
  }

  /* General Styles */
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
  }

  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }

  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
    color: #777;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-top: 5px;
    font-size: 16px;
  }

  select {
    height: calc(100% - 15px);
  }

  /* Button Styles */
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 7vh;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
  }

  button:hover {
    background-color: #555;
  }

  .button1 {
    transition-duration: 0.4s;
  }

  .button1:hover {
    background-color: #ffc107; /* Orange */
    color: black;
  }

  /* Polaroid Image Styles */
  div.polaroid {
    width: auto;
    height: 15vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: flex;
    align-items: center;
  }

  img {
    width: auto;
    height: 18vh;
  }

  div.container {
    text-align: center;
    padding: 5px 10px;
  }

  .button1:hover {
    background-color: #ff5eff; /* Orange */
    color: black;
  }

  .form-check-input:checked {
    background-color: #ff5eff;
    border-color: #213;
    opacity: 69%;
  }

  /* Custom CSS to style the active button */
  /* This will override the default btn-outline-primary active state */
  .btn-group .btn.active {
    background-color: #ff5eff; /* Same as the default .btn-primary background */
    color: white;
    opacity: 69%;
  }
}
